* {
    margin:0;
    padding:0;
    font-family: Arial;
    box-sizing: border-box;  /*padding, border size etc ye sab element k height or width(border) k andr hoga*/
}

.navbar {
    height: 60px;
    background-color: black;
    color: white;
    display:flex; /* sare div's ek line me aa jaynge */
    align-items: center; /* used to center elements vertically  */
    justify-content: space-between;; /*elements k bich me equal space lane k liye */
    position: relative;
    z-index: 9999;
    }

/* box-1, amazon logo */

.nav-logo {
    height:50px;
    width:100px;
}

.logo {
    background-image: url("/assests/amazonlogo.png");
    background-size: cover;
    height:44px;
    width:100%;
    margin-right: 80px;
}

/* for white border on hover */

.white-border {
    border: 2px solid transparent;
    cursor: pointer; /* Your mouse cursor should change to a hand */
    display: flex;       
    align-items: center;  /* Centers content inside the border */
    padding: 2px 5px;
    margin: 1px;
}

.white-border:hover {
    border: 1.5px solid white !important;
    background-color: rgba(255, 255, 255, 0.1); 
}

.logo.white-border {
    min-width: 100px;
    min-height: 40px;
}
      
/* box2, location */

.add-first {
color: #cccccc;
font-size: 0.8rem;
}

.add-sec {
font-size: 0.9rem;
color: white;
}

.add-item {
    display: flex;
    align-items: center;
}
.add-item i {
    font-size: 13px;
}

/* box3, search button */

.nav-search {
  display: flex;
    flex-grow: 1; /* This makes search expand to fill available space */
    margin: 0 10px;
    height: 40px; /* Slightly taller for better UX */
    background-color: white; /* Remove the pink! */
    border-radius: 4px;
    overflow: hidden;
}

.nav-search:focus-within {
    box-shadow: 0 0 0 2px #f3a847, 0 0 0 3px #232f3e; 
    border-radius: 4px;
}

.search-select {
    background-color: #c8c5c5;
    width: 50px;
    height: 30px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
}

.search-input {
    width: 100%;
    font-size: 0.8rem;
    border:none;
}

.search-icon{
    width: 45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    background-color:rgb(255, 165, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}

.nav-search:hover {
    border: 2px solid rgb(255, 165, 0);
}

/* design for box 4 & 5 */
.span {
    font-size: 0.7rem;
}

.fontsiz {
    font-size: 0.70rem;
    font-weight: 700
}

/* design for box 6 */

.nav-cart i {
    font-size: 28px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 7;
}

/* design for pannel */

.pannel {
    height:40px;
    background-color: #232f3e;
    display:flex;
    color: white;
    /* align-items: center; */
    padding-left: 10px;
}

.pannel-all {
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-right: 15px;
}

.pannel-all i {
    margin-right: 5px;
}

.pannel-option {
    display: flex;
    align-items: center;
    flex-grow: 1;
    
}

.pannel-option p{
 margin-left: 0; /* Clear previous margin */
    margin-right: 15px; /* Add space to the right instead */
    font-size: 14px;
}

.pannel-option p.white-border:hover {
    border: 1.5px solid white;
}

.pannel-deals {
   font-weight: 700 !important; /* Bold to highlight the deal */
    white-space: nowrap; /* Keeps text on one line */
    font-size: 0.9rem;
}

/* design for main body */

.slideshow-images{
  width: 100%;
  height: 490px; 
  overflow: hidden;
  border: 5px solid #333;
  margin: auto;
}

.slideshow-images::before {
    content:"";
    position: absolute;
    inset: -25%;
    background: radial-gradient(
        ellipse at top center,
        rgba(255, 220, 120, 0.4)
        rgba(255, 220, 120, 0.15)
        rgba(0, 0, 0, 0.9)
    );
    filter: blue(100px);
    opacity: 0;
    transform: scale(0.95);
    animation: glowFade 15s infinite;
    z-index: 0;
} 

.slideshow-strips {
  display: flex;
  width: 700%; 
  animation: slide-animation 15s infinite;
}

.slideshow-strips img {
  width: 100%;
  height: 490px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}   
@keyframes slide-animation {
  0%, 10%     { transform: translateX(0); }            /* Image 1 */
  14%, 24%    { transform: translateX(-14.28%); }      /* Image 2 */
  28%, 38%    { transform: translateX(-28.57%); }      /* Image 3 */
  42%, 52%    { transform: translateX(-42.85%); }      /* Image 4 */
  56%, 66%    { transform: translateX(-57.14%); }      /* Image 5 */
  70%, 80%    { transform: translateX(-71.42%); }      /* Image 6 */
  84%, 94%    { transform: translateX(-85.71%); }      /* Image 7 */
  100%        { transform: translateX(0); }            /* Loop back to 1 */
}     

@keyframes glowFade {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    15% {
        opacity: 1;
        transform: scale(1);
    }
    30% {
        opacity: 1;
    }
    45% {
        opacity: 0;
        transform: scale(1.05);
    }
    100% {
        opacity: 0;
    }
}

.slide-msg {
    margin-top: 50px;
    position: absolute;   /* This is the magic line */
    top: 470px;         /* Pins it 20px from the bottom of the images */
    left: 50%;       
    transform: translateX(-50%); 
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.80rem;
    width: 96%;        
    z-index: 10;        /* Ensures it stays on top of the images */
}

.slide-msg a {
    color: #007185;
}  

.slide-msg a:hover {
  text-decoration: underline;
}

/* design for shopping option */

.shop-option {
    display: flex;
    justify-content: space-evenly;;
    align-items: center;
    background-color: whitesmoke;
}

.box {    
    height:270px;
    width: 23%;
    background-color:white;
    padding: 20px 0px 15px;
    margin-top: 10px;
}

 .box-1-pic {
    height: 210px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
} 

.box-content {
margin-left: 10px;
margin-right:10px;

}

.box-content p {
    color: #007185;
}

/* design for footer */
.foot-panel-1 {
    background-color: rgb(23, 43, 23);
    color: white;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel-2 {
    background-color:#132613;
    color: #dddddd;
    height: 350px;
    display:flex;
    justify-content: space-evenly;
}

.panel-2-heading {
    font-size: 19px;
    font-weight: 50;
}

ul {
    margin-top: 10px;
}

.ul li {
    display: block;
}


.foot-panel-3 {
    background-color: rgb(131, 213, 131);
    color: white;
    height: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
}


